.map-container {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    background-image: url("../../assets/watercolorPaper_BG2.webp");
    background-repeat: repeat;
    
  }
  
  .map-frame {
    border: 2px solid black;
    height: 75%;
  }
  
  #map {
    height: 100%;
  }